* {
  color: #000;
  font-family: sans-serif;
}

.beagle-text {
  border: 2px solid #000;
  padding: 10px;
}
.section-trivia {
  padding-left: 0px;
}

ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

ol {
  padding-left: 0;
  margin-left: 0;
}
