* {
  color: #000;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.beagle-text {
  border: 2px solid #000;
  padding: 10px;
}
.section-trivia {
  padding-left: 0px;
}

h1, a{
  text-decoration: underline;
}
strong {
  font-style: italic;
}

ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

ol {
  padding-left: 0;
  margin-left: 0;
}
img{
  margin-bottom: 15pxas;
}
